body {
    background-color: #24353F;
}
h1 {
    color: #17A2B8;
}
.group {
    background-color: #24353F;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 1); 

}
.group input {
    background-color: #24353F;
}
.group input::placeholder {
    color: #fff;
}
#signupGroup {
    display: none;
}
#loginGroup {
    display: flex;
}

